@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Lato&family=Lobster&family=Poppins:wght@300;400;500;600&family=Roboto&display=swap');

body {
  background-color: rgb(234, 209, 65);
  font-family: "Aldrich", sans-serif;
  width: 1000px;
  margin: auto;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#enter {
  margin-top: 10%;
}

form {
  width: 600px;
  height: 30px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
}

#url_input {
  border-radius: 10px;
  width: 100%;
  outline: none;
  border: none;
}

#url_input:focus {
  outline: none;
}

#url_input[type="text"]
{
    font-size: 16px;
    font-family: aldrich;
    vertical-align: middle;
}

#url_submit,
#copy {
width: 125px;
height: 50px;
margin: 30px auto;
border-radius: 10%;
vertical-align: middle;
font-family: aldrich;
text-align: center;
font-size: 16px;
background-color: brown;
color: white;

}

#url_submit, #copy{
position: relative;
left: 40%;
}


#url_submit:hover {
  cursor: pointer;
  background-color: rgb(242, 44, 44);
  color: black;
}

#links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

#new-link {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

#new-link a:hover{
  color: white;
}

#align {
  font-weight: 800;
  font-size: 25px;
  margin: 10px;
}

nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


nav #short-velink {
  width: 20%;
  height: 125px;
}

nav h1 {
  font-size: 60px;
}

nav a{
  text-decoration: none;
  color: black;
}


#myInput {
  padding: 10px;
}

#stat{
  border: 1px dotted black;
}
